.DS_Store
.settings
*/.settings/*
.class
.git
*/.git/*
.svn
*/target/*
/target/
target
_svn
*.mine
*.working
*.merge-left*
*.merge-right
*.pre
.deployables
.classpath
.project
/bin/*
*/bin/*
*.iml
.idea
*/.idea
*.classPath
*/.project
*/.classPath
*.metadata/
*/target/
*.project
*.launch
target/
.~lock*
